@use "navbar.scss";
@use "footer.scss";

html,
body {
  overscroll-behavior-y: none;
  overflow: hidden;
  background-color: black;
}

body {
  margin: 0;
}

canvas {
    position: fixed;
    top: 0;
}

.app {
  width: 100vw;
  height: 100vh;
}

.enter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  padding-bottom: 8px;
  font-size: 30px;
  color: white;
  line-height: 1;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #F24102;
  z-index: 1;
}