@use "navbar.scss";
@use "footer.scss";

html,
body {
  overscroll-behavior-y: none;
  overflow: hidden;
  background-color: black;
}

body {
  margin: 0;
}

canvas {
    position: fixed;
    top: 0;
}