@use "navbar.scss";
@use "footer.scss";

html,
body {
  overscroll-behavior-y: none;
  overflow: hidden;
  background-color: black;
}

html {
  display: flex;
  justify-content: center;
}

body {
  position: relative;
  margin: 0;
  width: auto;
  height: 100vh;
  aspect-ratio: 9 / 19.5;
  
  * {
    user-select: none;
  }
}

#__next {
  width: 100%;
  height: 100%;
}

main {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#canvas-holder {
  width: 100%;
  height: 100%;
  // z-index: 1;

}

canvas {
  position: fixed;
  top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  z-index: 1;
}

.app {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;

  > span {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
    pointer-events: none;
  }
}

.feedback {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid white;
  z-index: 1;

  a {
    color: white;
    text-decoration: none;
  }
}

.doorbell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: auto;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 9 / 19.5;
}

.doorbell_inner {
  position: relative;
  z-index: 2;
}

.enter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 25px 10px 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: white;
  line-height: 1;
  // border: 2px solid white;
  border: 0;
  border-radius: 50%;
  background-color: #f11a05;
  z-index: 1;
}

.dot {
  &--top-left {
    position: absolute;
    top: -60px;
    left: -30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0774d7;
    background-color: #0674d7;
    opacity: 0.7;
  }

  &--top-right {
    position: absolute;
    top: -120px;
    right: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0774d7;
    opacity: 0.7;
  }

  &--bottom-left {
    position: absolute;
    bottom: -30px;
    left: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0774d7;
    opacity: 0.7;
  }
}

.num-collaborators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 300;
  text-align: center;
  z-index: 1;
}

.app--qr {
  position: relative;

  .qr-code {
    position: absolute;
    top: auto !important;
    left: auto !important;
    bottom: 20px !important;
    right: 10px !important;
    width: 200px !important;
    min-width: auto !important;
    max-width: auto !important;
    height: 200px !important;
    min-height: auto !important;
    max-height: auto !important;
    z-index: 2;
    pointer-events: none;
  }

  .feedback {
    display: none;
  }

  .num-collaborators {
    text-align: left;
    padding-left: 10px;
  }
}
